.share-container {
    display: flex;
    align-items: center;
    padding-left: 15px;
    justify-content: space-evenly;
  }
  
  .text {
    display: inline-block;
    margin-right: 10px;
    color: #eaf2af;
  }
  
  .icon {
    display: inline-block;
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
   .share-container, .text {
      margin: 0;
      width: 75%;
      color: wheat;
      font-size: 12px;
    }
  }