.BooksCard {
    width: 300px;
    margin: 20px;
}

.bookSearchBtn {
    margin: 0 auto;
}

.book-head {
    text-align: center;
}

.searchGroup {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.booksContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

/* .booksContainer * {
    padding: 15px;
} */

.buttonDiv {
    display: flex;
    margin-top: 20px;
}


/* Card styling */

.card-title {
    display: flex;
    font-weight: bolder;
    margin-right: 5px;
    text-align: left;
}
.card-img-top {
    /* box-shadow: -1.5rem 0 1rem gray; */
}

.favorite, .favButton {
    width: 64px;
    padding: 0 !important;
    margin: 0 !important;
    
}
.FavoriteBook {
    justify-content: space-evenly;
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .FavoriteBook, .booksContainer {
      flex-direction: column;
    }
  }

.previewDiv {
    display: flex;
    justify-content: space-between;
}