.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.contactWrapper {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    max-width: 600px;
}