.studentHubTitle {
  text-align: center;
  font-weight: bolder;
  margin-top: 20px;
}

.Hub {
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
  margin-top: 20px;
  border-radius: 5px;
}

.binLogo,
.editLogo {
  width: 20px;

}
  
.notesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 !important;
  
}

.card {
  width: 400px;
  /* height:400px; */
  background-color: #0d090a !important;
  border-radius: 35px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: #eaf2ea;
    margin: 20px;
}

.card-body {
    border-radius: 35px;
    margin: 10px;
}

.notesInputText {
  width: 400px;
  height: 200px;
  resize: none;
  border-radius: 20px;
}

.textInputDiv {
  padding-left: 20px;
}
.buttonsContainer {
  /* margin-top: 100px; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: flex-end;
}

.NotesRow {
  max-width: max-content;
}

.add-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

textarea::placeholder {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     */
  margin: 0 auto;
}

.share{
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .notesInputText,
  .card {
    width: 270px;
    height: max-content;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .notesContainer, .studentHubTitle, h5 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .buttonsContainer {
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .binLogo,
  .editLogo {
    width: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .textInputDiv {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .notesContainer {
    padding-left: 0px;
  }
}

/* Favorites sections */

.favBooksInner {
  display: flex;
  flex-direction: column;
  width: 100px;
  align-items: center;
  margin: 40px;
}

.FavoriteBook {
  border: 1px solid #0d090a;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.favouriteTitle {
  color: #0e3b43 !important;
  font-weight: bolder;
  margin: 10px;
}

.activeNotes {
  font-weight: bolder;
  margin: 10px;
}

