.studentHubTitle {
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

.containerHub {
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
    border-radius: 5px;
}

.binLogo {
    width: 20px;
}

.notesContainer {
    display: flex;
    flex-direction: row;
}

.card {
    width: 200px;
}

.notesInputText {
    width: 400px;
    height: 200px;
    resize: none;
}