a.logo {
  font-weight: bold;
  font-size: 30px;
  color: #0e3b43;
}

.navbar-nav .nav-link {
  color: #0e3b43 !important;
  font-size: 20px;
  margin-right: 45px;
}

.navbar-nav .nav-link:hover {
  color: #3e8e41 !important;
}

.bg-color {
  background-color: #a3bbad;
}

@media (max-width: 767px) {
  .navbar-nav.ml-auto {
    margin-top: 10px;
  }
}
