@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #353535 !important;
     /* height: 100vw;
    width: 250px;  */
    
 } 
 .navbar-nav a {
    display: flex;
    color: antiquewhite;
    font-weight: bolder;
     font-size: 32px; 
     display: flex;
    align-items: center;
    margin-left: 20px; 
 }  

.title {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: azure;
    font-weight: bolder;
}

.title h1 {
    font-weight: bolder;
}

.col-3 {
    padding: 0 !important;
}